*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 62.5%;
}

body {
    padding: 0;
    margin: 0;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: relative;
}

.app-container {
    width: 400px;
    height: 420px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #181818;
}

.app-header {
    background: rgb(65,136,228);
    background: linear-gradient(90deg, rgba(65,136,228,1) 0%, rgba(156,255,236,1) 100%);
    border-radius: 10px 10px 0 0;
    height: 100px;
    position: relative;
}

.app-header::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: rgb(45, 117, 211);
    background: linear-gradient(90deg, rgba(45, 117, 211,1) 0%, rgb(127, 236, 215) 100%);
}

.title-wrapper {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
}

.app-title {
    font-size: 2.4rem;
    margin: 0;
    margin-bottom: 3px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#date {
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.input-bar {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

#add-button {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    top: 73px;
    right: 20px;
    cursor: pointer;
}

.add-button-line {
    fill:none;
    stroke-linejoin:round;
    stroke-width:3;
    stroke:#FFF;
}

.input-form {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s,
                opacity 0.25s 0s,
                transform 0.25s;
}

.form-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 15px;
    width: 420px;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
}

.close-button:hover {
    background-color: crimson;
}

.show-form {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, 
                opacity 0.25s 0s, 
                transform 0.25s;
}

.form-content h4 {
    margin: 0 0 5px 0;
    color: #181818;
}

#todo-input {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(45, 117, 211);
}

.task {
    width: 100%;
    color: #181818;
    margin: 5px 0;
    text-decoration: none;
}