*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: royalblue;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #fff;
}

.appTitle {
    margin-top: 0;
    padding-bottom: 10px;
    color: royalblue;
    text-transform: initial;
    font-size: 3rem;
    position: relative;
}

.appTitle::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid royalblue;
    width: 100%;
}

#todoForm {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#todoInput {
    display: inline-block;
    width: 300px;
    height: 40px;
    border: 1px solid royalblue;
    border-radius: 5px;
    background-color: #fff;
    color: #181818;
    padding: 10px;
    margin-right: 10px;
}

#createTask {
    display: inline-block;
    background-color: royalblue;
    border: none;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
}